

        
<%= form_tag sessions_path do |f| %>
  

  <div class="field">
    <div id="TextHeadFormSmall"><%= label_tag :email %><br /></div>
    <%= text_field_tag :email, nil, :class=>'textareaform' %>
  </div>
  <div class="field">
    <div id="TextHeadFormSmall"> <%= label_tag :password %><br /></div>
    <%= password_field_tag :password , nil, :class=>'textareaform' %>
  </div>
  <div class="actions">
    <div id="submit_alignmain">
    <%= submit_tag "Login", :id=> "submit"  %>
  </div>
 </div></br>

 <%= link_to 'Forgot password?', '/forgot_password' %>

 <% end %>

  <div id="blank"></div>


