<%= form_for(@user) do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@user.id %>
  <div class="field">
    <div id="TextHeadFormSmall"><%= f.label 'First Name' %><br /></div>
    <%= f.text_field :first, :class=>'textareaform' %>
  </div>
  <div class="field">
   <div id="TextHeadFormSmall"> <%= f.label 'Last Name' %><br /></div>
    <%= f.text_field :last, :class=>'textareaform' %>
  </div>
  <div class="field">
    <div id="TextHeadFormSmall"><%= f.label :email %><br /></div>
    <%= f.text_field :email, :class=>'textareaform' %>
  </div>
  
  <% else %>
    <%= f.label "Name" %><br />
    <%= @user.first %>
    <%= @user.last %></br>
    <%= f.label 'Email' %></br>
    <%= @user.email %>
  <% end %>

  <% if admin? && @user.email != session[:email] %>
  <div class="field">
    <%= f.label :admin_status %><br />
    <%= f.text_field :admin %>
  </div>
  <% end %>

  <% if !@user.id || session[:email] == @user.email %>
  <div class="field">
   <div id="TextHeadFormSmall"> <%= f.label :password %><br /></div>
    <%= f.password_field :password, :class=>'textareaform' %>
  </div>
  <div class="field">
    <div id="TextHeadFormSmall"><%= f.label :password_confirmation %><br /></div>
    <%= f.password_field :password_confirmation, :class=>'textareaform' %>
  </div>
  <% end %>

  <% if !@user.id %>
  <div class="actions">
    <div id="submit_alignmain">
    <%= f.submit "Sign up", :id=> "submit" %>
  </div>
  <% else %>
    <div class="actions">
    <%= f.submit "Edit user" %>
  </div>
</div>
  <% end %>
<% end %>
