<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<% if @user %>
<<<<<<< HEAD
	<h2>My Accountsz</h2>
=======
	<h2>My Accounts</h2>
	<h2>My Accountsxx</h2>
>>>>>>> d0b881f347a032efaba4315337e04cc27949ac3e
	Name: <%= @user.first %> <%= @user.last %><br/>
	Email: <%= @user.email %>
	</br>
	<% if admin? %>
	Admin status: Administrator
	<% end %>
	<br/>
	<%= link_to 'Change Password', edit_user_path(@user) %>
<% end %>
