<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<% if @user %>
	<h2>My Accounts</h2>
	Name: <%= @user.first %> <%= @user.last %><br/>
	Email: <%= @user.email %>
	</br>
	<% if admin? %>
	Admin status: Administrator
	<% end %>
	<br/>
	<%= link_to 'Change Password', edit_user_path(@user) %>
<% end %>