<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if admin? && @user.admin %>
<p>
  <b>Admin status:</b>
  Administrator
</p>
<% else %>
<p>
  <b>Admin status:</b>
  Non-Administrator
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %>
<% if admin? %>
	<%= link_to 'Back', "#{session[:prev]}" %>
<% else%>
	<%= link_to 'Back', '/users/my_account' %>
<% end %>